*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(212, 206, 206);
    height: auto;
}

header{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

.navi{
    position: absolute;
    top: 30px;
    left: 150px;
    right: 150px;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered ; 
    border-radius: 15px;
    width: 1000px;
    height: 25px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.1);
}



ul li{
    float: left;
    /* width: 10%;
    padding-left: 10px; */
    list-style: none;
    
}

.clear{
    clear: both;
}

ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
 
    /* margin-top: 10px; */
    text-align: center;
    color: rgb(253, 102, 47);
    text-decoration: none;
}

#forma{
    position: relative;
}

form{
 
position: absolute;
width: 400px;
height: 430px;
 margin-bottom: 10px ;
 margin-right: 20px;

  margin-left: 880px;
  margin-top: 150px;
  padding: 10px;
  padding-top: 20px;
  background: rgba(175, 166, 166, 0.527); 
  border-radius: 20px;

}

div form label{
 padding-left: 10px;
}

div form input{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    
    
}

form p {
   
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-align: center;
    background: orangered;
    border-radius: 25px 25px 0 0;
    padding: 12px 18px 0 18px;
    width: 365px;
    height: 28px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: -5px;
}


section{
    
    position: relative;
   height: auto;
   width: auto;

    
}


section h1{
    position: absolute;
    left: 50px ;
    margin-top: 130px;
}

section h2{
    position: absolute;
    left: 130px;
    margin-top: 220px;
    
}

section p{
   
  position: absolute;
    left: 10px;
    padding:10px;
    margin-left: 10px;
    margin-top: 200px ;
}


.part{
    position: absolute;
    margin-left: 65px;
    margin-top: 350px;

}


