*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background: linear-gradient( hsl(240, 61%, 28%), rgb(196, 50, 159));
    height:auto;
    
}


h1{ position: absolute;
    top: 10px;
    left: 25px;
    font-size: 55px;
    font-weight: 500;
    opacity: 0.8;
    font-family:'Times New Roman', Times, serif;
    color: bisque;
    text-transform: uppercase;
    }
    

section{
   background: url(stars1.png);
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
 
}


section ul li{
    
    list-style: none;
    margin: 17px;
    display: block;
  

}

ul:hover li a {
    opacity: 0;
}

section ul li a{
    
    
    border: 2px solid rgb(193, 193, 240); border-radius: 10px; padding-right: 20px; padding-left: 20px;
    text-decoration: none;
    font-size: 35px; width: 200px;
    font-family:'Times New Roman', Times, serif;
    color: bisque;
    transition: 0.3s;
}

section ul li a:hover{
    color: rgb(8, 8, 122);
    transform: scale (1.5); width: 900px; 
    letter-spacing: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(248, 69, 224);
    opacity: 1;
   
}

ul li::after{
    content: attr(data-text);
    color: aliceblue;
    position: absolute;
    left: 50%;
    top:50%;
text-align: center;
 transform: translate(-50% , -50%);
 font-size: 100px;
font-weight: 900px;
text-transform: capitalize;
pointer-events: none;
opacity: 0;
letter-spacing: 70px;
transition: 0.3s;}

ul li:hover::after{
    opacity: 0.5 ;
    letter-spacing: 5px;
}

ul li::before{
    content: "";
    width: 200px;
    height: 100px;
    background: whitesmoke;
    border-radius: 50%;
    position: absolute;
    left:45%;
    top:50%;
    box-shadow: 0 0 50px orangered;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

ul li:hover::before{
    width: 100px;
    opacity: 0.5;
}

