*{
    margin: 0;
    padding: 0;

}

.container{

    background:linear-gradient(#000000,#00008b );
    width: 100%;
    height: 120vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}



.glass{

    float: right;
    width: 45%;
    height: 78%;
    background: rgb(255, 255, 255, 0.1);
    margin-right: 50px;
    border-radius: 20px;
    margin-top: -550px;
}


.navbar{
    display: flex;
    height: 12%;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
   

    

}


nav ul li a{
    text-shadow: 2px 2px 4px #000000;
    font-family:serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 7px;
    margin-top: 40px;
    margin-right: 35px;
    transition: 1s;
   
    

}


nav ul li a:hover{
color: #00008b;
transform: translate(1.5);

}
.btn{

    width: 180px;
    height: 45px;
    background: #1414be;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid #1414be;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    color:aliceblue;
    transform: scale(1.5);
}

.talk{
    height: 70%;
    display: flex;
    align-items: center;
}

.talkk{
    flex-basis: 50%;
}

h1{
    font-weight: 900;
    font-size: 70px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-left: 30px;
    text-shadow: 2px 2px 8px #001aff;
   
}

p{
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    line-height: 30px;
}


.col{

    position: relative;
    justify-content: right;
    width: 50%;
    height: 50%;
}

.card{position: absolute;
    width: 230px;
    height: 250px;
    display: inline-block;
    border-radius: 20px 0 25px 0 ;
    margin-left: 1010px;
    margin-top: -510px;
    box-sizing: border-box;
    cursor: pointer;
 margin-bottom: 10px;
    background-image: url(one.jpeg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.cardtwo{
    position: absolute;
    margin-left: 1010px;
    margin-top: -240px;
    width: 230px;
    height: 250px;
    display: inline-block;
    border-radius: 20px 0 25px 0 ;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    
    background-position: center;
    background-size: cover;
    background-image: url(two.jpg);
transition: 0.5s;}

.cardthree{
    position: absolute;
    margin-left: 750px;
    margin-top: -240px;
    width: 230px;
    height: 250px;
    display: inline-block;
    border-radius: 20px 0 25px 0 ;
    
    box-sizing: border-box;
    cursor: pointer;
   
    background-position: center;
    background-size: cover;
    background-image: url(three.jpeg);
    transition: 0.5s;}

.cardfour{
    position: absolute;
    margin-left: 750px;
    margin-top: -510px;
    width: 230px;
    height: 250px;
    display: inline-block;
    border-radius: 20px 0 25px 0 ;
    
    box-sizing: border-box;
    cursor: pointer;
   
    background-position: center;
    background-size: cover;
    background-image: url(four.jpg);
    transition: 0.5s;
}

.card:hover{
    transform: translateY(-20px);
}

.cardtwo:hover{
    transform: translateY(-20px);
}

.cardthree:hover{
    transform: translateY(-20px);
}

.cardfour:hover{
    transform: translateY(-20px);
}